 <h1>Hello Hello </h1>

<% target = "world" %>
<%= "Hello #{target}" %>


<%= link_to('Index page with parameters ', {:action => 'hello', :page => 5, :id => 20 })%>

<br />
<% @array.each do |n| %>
    <%= n %>
<% end %>
<br/>
<%= @id %> <br/>
<%= params[:id]%> <br/>
<%= @page %> <br/>